<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendors/bootstrap.min.js"charset="utf-8">
    <link rel="stylesheet" href="/style/stylesheet.css"charset="utf-8">

    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="/scripts/client.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div ng-controller="addCtrl">
      <form>
        <label>Car Make</label><select ng-model="carMakeModel" ng-options="item for item in carMake" ng-change="getCarModels()" name="carMake">
        </select><br>
        <label>Car Model</label><select ng-model="carModelModel" ng-options="item for item in carModel" ng-change="getCarYears()" name="carModel">
        </select><br>
        <label>Car Year</label><select ng-model="carYearModel" ng-options="item for item in carYear" ng-change="getMakeModelId()" name="carYear">
        </select><br>
        <button type="submit" name="button" ng-click="submitCar()">submit</button>

      </form>
    </div>
  </body>
</html>
