<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendors/bootstrap.min.js"charset="utf-8">
    <link rel="stylesheet" href="/style/stylesheet.css"charset="utf-8">

    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="/scripts/client.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div ng-include="'views/partials/nav.html'"></div>
    <div ng-controller="userCtrl">
      <input type="text" name="currentMileage" value="" ng-model="currentMileageModel">
      <label>Maintenance Miles</label><select ng-model="maintMilesModel" ng-options="item for item in maintMiles" ng-change="getMaintMiles()" name="maintMiles">
      </select><br>
      <table>
        <thead>
         <tr>
           <th>Item</th>
           <th>Action</th>
           <th>Item Description</th>
           <th>Total Parts Cost</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="record in allTheRecords">
           <td>{{ record.item }}</td>
           <td>{{ record.action }}</td>
           <td>{{ record.itemDescription }}</td>
           <td>{{  }}</td>
         </tr>
       </tbody>
     </table>
    </div>


  </body>
</html>
