
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div> -->
    <ul class="nav navbar-nav">
      <li role="presentation"><a href="/register">register</a></li>
      <li role="presentation"><a href="/main">user</a></li>
      <li role="presentation"><a href="/add">add</a></li>
      <li role="presentation"><a href="/">login</a></li>
    </ul>
  </div>
<!-- </nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/register">register</a></li>
      <li role="presentation"><a href="/main">user</a></li>
      <li role="presentation"><a href="/add">add</a></li>
      <li role="presentation"><a href="/">login</a></li>
    </ul>
  </nav> -->
